.shot {
    padding: 13%;
    background: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, #00000080, #00000080),
      url("../../../assets//parallax//children.jpg");
  }