.card {
  font-size: 24px;
  color: rgb(230, 224, 224);
  background: linear-gradient(to left, #346194, #3852a7 70%);
  border-radius: 20px;
  box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
    0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
    0 0 16px hsl(0deg 0% 0% / 0.075);
  transform-origin: 10% 60%;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 20px;
}

